In [1]:
%matplotlib inline
%load_ext autoreload
%autoreload 2
from import_file import *
load_libs()

# ECMWF Dataset

In [2]:
# file_path='47N123W.csv'
# file_path='8N293E.csv'
# file_path='./data/ECMWF/chile/52S75W/dat.csv'
# file_path='65N17W.csv'
# file_path='./data/ECMWF/sudan/18N32E/dat.csv'
file_path='./data/ecmwf/china/24N121E/dat.csv'
# file_path='37S142E.csv'

df = pd.read_csv(file_path, header=0, skipinitialspace=True)
df.rename(columns={'U':'x','V':'y'}, inplace=True)
df['speed']=np.sqrt(df.x**2+df.y**2)
df['dir']=np.degrees(np.arctan2(df.y, df.x))%360
df['time']=pd.to_datetime('1979-01-01T00:00:00Z')+pd.to_timedelta(df['time'], unit='h')
df['date']=df['time'].dt.strftime('%Y%m%d')
df['HrMn']=df['time'].dt.strftime('%H00')
df.set_index(['time'], inplace=True)

df

,lat,lon,x,y,speed,dir,date,HrMn
time,,,,,,,,
1979-01-01 00:00:00,24.000002,121.000008,-1.540937,-2.955202,3.332823,242.461014,19790101,0000
1979-01-01 06:00:00,24.000002,121.000008,-2.062545,-2.440317,3.195190,229.795660,19790101,0600
1979-01-01 12:00:00,24.000002,121.000008,-2.277965,-1.860890,2.941434,219.245705,19790101,1200
1979-01-01 18:00:00,24.000002,121.000008,-2.336064,-0.467069,2.382299,191.306532,19790101,1800
1979-01-02 00:00:00,24.000002,121.000008,-1.906638,-0.776992,2.058880,202.171844,19790102,0000
1979-01-02 06:00:00,24.000002,121.000008,-1.223822,-0.893665,1.515380,216.137858,19790102,0600
1979-01-02 12:00:00,24.000002,121.000008,-1.613152,-1.119836,1.963745,214.768032,19790102,1200
1979-01-02 18:00:00,24.000002,121.000008,-0.851406,-1.456117,1.686763,239.684744,19790102,1800
1979-01-03 00:00:00,24.000002,121.000008,-1.086415,-1.680657,2.001226,237.120450,19790103,0000
1979-01-03 06:00:00,24.000002,121.000008,0.504126,-1.742531,1.813989,286.135503,19790103,0600
1979-01-03 12:00:00,24.000002,121.000008,-0.771406,-1.932689,2.080950,248.241264,19790103,1200
1979-01-03 18:00:00,24.000002,121.000008,-0.519052,-1.762760,1.837591,253.592703,19790103,1800
1979-01-04 00:00:00,24.000002,121.000008,-1.266482,-2.069120,2.425951,238.529727,19790104,0000
1979-01-04 06:00:00,24.000002,121.000008,0.513336,-1.952216,2.018579,284.732449,19790104,0600
1979-01-04 12:00:00,24.000002,121.000008,-1.090512,-1.782335,2.089482,238.539844,19790104,1200
1979-01-04 18:00:00,24.000002,121.000008,-1.397254,-0.666675,1.548152,205.507303,19790104,1800
1979-01-05 00:00:00,24.000002,121.000008,-1.608010,-1.110879,1.954418,214.638296,19790105,0000
1979-01-05 06:00:00,24.000002,121.000008,-0.407882,-0.833762,0.928185,243.931827,19790105,0600
1979-01-05 12:00:00,24.000002,121.000008,-1.813919,-0.663753,1.931546,200.098675,19790105,1200
1979-01-05 18:00:00,24.000002,121.000008,-1.855285,0.290981,1.877965,171.086392,19790105,1800
1979-01-06 00:00:00,24.000002,121.000008,-1.072224,-0.375793,1.136171,199.314521,19790106,0000
1979-01-06 06:00:00,24.000002,121.000008,0.952868,-0.379755,1.025755,338.270792,19790106,0600
1979-01-06 12:00:00,24.000002,121.000008,-0.007762,-1.753698,1.753715,269.746408,19790106,1200
1979-01-06 18:00:00,24.000002,121.000008,-1.137892,-1.750938,2.088200,236.981138,19790106,1800
1979-01-07 00:00:00,24.000002,121.000008,-1.497364,-1.686233,2.255101,228.395124,19790107,0000
1979-01-07 06:00:00,24.000002,121.000008,-2.626300,-2.251904,3.459556,220.611232,19790107,0600
1979-01-07 12:00:00,24.000002,121.000008,-2.306623,-0.944983,2.492689,202.278046,19790107,1200
1979-01-07 18:00:00,24.000002,121.000008,-2.319514,-0.246932,2.332621,186.076735,19790107,1800
1979-01-08 00:00:00,24.000002,121.000008,-1.409433,0.142001,1.416569,174.246834,19790108,0000
1979-01-08 06:00:00,24.000002,121.000008,-0.209910,-0.698083,0.728959,253.264266,19790108,0600
...,...,...,...,...,...,...,...,...
2017-01-24 12:00:00,24.000002,121.000008,-2.361183,-0.992760,2.561398,202.804324,20170124,1200
2017-01-24 18:00:00,24.000002,121.000008,-1.888891,-0.418254,1.934644,192.485451,20170124,1800
2017-01-25 00:00:00,24.000002,121.000008,-1.051761,-0.655220,1.239159,211.921851,20170125,0000
2017-01-25 06:00:00,24.000002,121.000008,-1.445766,-2.327176,2.739705,238.149251,20170125,0600
2017-01-25 12:00:00,24.000002,121.000008,-2.230393,-2.637713,3.454300,229.782862,20170125,1200
2017-01-25 18:00:00,24.000002,121.000008,-2.527217,-4.021728,4.749855,237.855120,20170125,1800
2017-01-26 00:00:00,24.000002,121.000008,-3.526534,-3.145663,4.725636,221.732916,20170126,0000
2017-01-26 06:00:00,24.000002,121.000008,-3.093354,-0.534905,3.139262,189.810601,20170126,0600
2017-01-26 12:00:00,24.000002,121.000008,-2.346001,-0.436092,2.386189,190.530382,20170126,1200
2017-01-26 18:00:00,24.000002,121.000008,-1.905855,-1.740644,2.581110,222.405894,20170126,1800
2017-01-27 00:00:00,24.000002,121.000008,-1.999552,-1.209996,2.337156,211.179546,20170127,0000
2017-01-27 06:00:00,24.000002,121.000008,-0.782074,-0.782502,1.106322,225.015681,20170127,0600
2017-01-27 12:00:00,24.000002,121.000008,-2.351461,-1.064266,2.581091,204.351402,20170127,1200
2017-01-27 18:00:00,24.000002,121.000008,-1.837936,-0.599385,1.933203,198.062111,20170127,1800
2017-01-28 00:00:00,24.000002,121.000008,-2.039076,0.244168,2.053643,173.171651,20170128,0000
2017-01-28 06:00:00,24.000002,121.000008,-0.717667,1.402972,1.575873,117.091243,20170128,0600
2017-01-28 12:00:00,24.000002,121.000008,-2.366806,0.716682,2.472934,163.153406,20170128,1200
2017-01-28 18:00:00,24.000002,121.000008,-2.416282,1.631285,2.915392,145.975844,20170128,1800
2017-01-29 00:00:00,24.000002,121.000008,-1.845787,0.993204,2.096040,151.715639,20170129,0000
2017-01-29 06:00:00,24.000002,121.000008,-0.527360,0.238908,0.578952,155.628234,20170129,0600
2017-01-29 12:00:00,24.000002,121.000008,-1.008343,0.584907,1.165706,149.883383,20170129,1200
2017-01-29 18:00:00,24.000002,121.000008,-1.092340,-0.039355,1.093048,182.063388,20170129,1800
2017-01-30 00:00:00,24.000002,121.000008,-1.271494,-2.043026,2.406377,238.103594,20170130,0000
2017-01-30 06:00:00,24.000002,121.000008,-3.958376,-2.572768,4.721004,213.022075,20170130,0600
2017-01-30 12:00:00,24.000002,121.000008,-3.704978,-2.775837,4.629485,216.841219,20170130,1200
2017-01-30 18:00:00,24.000002,121.000008,-3.513627,-2.281584,4.189415,212.997795,20170130,1800
2017-01-31 00:00:00,24.000002,121.000008,-3.313385,-1.738851,3.741941,207.690301,20170131,0000
2017-01-31 06:00:00,24.000002,121.000008,-3.729250,-0.623337,3.780986,189.489155,20170131,0600
2017-01-31 12:00:00,24.000002,121.000008,-2.056583,-0.657438,2.159111,197.727779,20170131,1200
2017-01-31 18:00:00,24.000002,121.000008,-1.691348,-1.622971,2.344076,223.818102,20170131,1800

In [16]:
df[1000:].index.month

array([9, 9, 9, ..., 1, 1, 1])

In [3]:
sss

NameError: name 'sss' is not defined

In [ ]:
sub_df =df['2011':'2015']
plot(sub_df.x, sub_df.y, '.', alpha=0.5)

plt.figure()
bins=arange(0,361)
df['dir'].hist(bins=bins)

In [ ]:
np.degrees(np.arctan2(-3, 5))%360

In [ ]:
df.x = -df.x
df.y = -df.y
df['dir']=np.degrees(np.arctan2(df.y, df.x))%360

In [ ]:
sub_df =df['2011':'2015']
df.head()

In [ ]:
plot(sub_df.x, sub_df.y, '.', alpha=0.5)

In [ ]:
bins=arange(0,df.speed.max(),0.5)
df['speed'].hist(bins=bins)

plt.figure()
bins=arange(0,361)
df['dir'].hist(bins=bins)

In [ ]:
df['x'] = df['speed'] * cos(df['dir'] * pi / 180.0)
df['y'] = df['speed'] * sin(df['dir'] * pi / 180.0)

In [ ]:
sub_df =df['2011':'2015']
plot(sub_df.x, sub_df.y, '.', alpha=0.5)

In [ ]:
sss

# 2. NDAWN Dataset

In [ ]:
# file_dir = 'D:/NDAWN/fargo/'
# file_dir = 'D:/NDAWN/grand_forks/'
# file_dir = 'D:/NDAWN/williston/'
# file_dir = 'D:/NDAWN/jamestown/'
# file_dir = 'D:/NDAWN/minot/'
file_dir = './data/NDAWN/dickinson/'

file_path = file_dir+'table.csv'
save_file_path  = file_dir+'hr_avg.csv'
df = pd.read_csv(file_path, skipinitialspace=True, dtype={'Year':'object', 'Month':'object', 
                                                          'Day':'object'})
df

In [ ]:
df.describe()

In [ ]:
## Output format: date, HrMn, dir, speed, speed_max
df['HrMn']=df['Hour'].apply(lambda x: "%04d"%x ) 
df['date']=df['Year']+df['Month']+df['Day']
df = df[['date','HrMn','Avg Wind Speed', 'Max Wind Speed', 'Avg Wind Dir', 'Avg Wind Dir SD']]
df.rename(columns={'Avg Wind Speed': 'speed', 'Max Wind Speed': 'speed_max', 
                   'Avg Wind Dir': 'dir', 'Avg Wind Dir SD': 'dir_std'}, inplace=True)

In [ ]:
df

In [ ]:
## too slow, need optimization
import datetime as dt

def my_to_datetime(date_str):
    if date_str[8:10] != '24':
        return pd.to_datetime(date_str, format='%Y%m%d%H%M')

    date_str = date_str[0:8] + '00' + date_str[10:]
    return pd.to_datetime(date_str, format='%Y%m%d%H%M') + \
           dt.timedelta(days=1)
   
df['time']=df["date"].astype(str).map(str)+df["HrMn"]
df['time']=df['time'].apply(my_to_datetime)
df['date']=df['time'].apply(lambda x: x.strftime('%Y%m%d'))
df['HrMn']=df['time'].apply(lambda x: x.strftime('%H%M'))

In [ ]:
df.speed.value_counts().sort_index()

In [ ]:
bins=arange(0,df['speed'].max())
df['speed'].hist(bins=bins, normed=True,alpha=0.5,label='min')
plt_configure(legend=True)

plt.figure()
bins=arange(0,362)
df['dir'].hist(bins=bins, normed=True,alpha=0.5,label='min')
plt_configure(legend=True, figsize=(20,4))

In [ ]:
df.to_csv(save_file_path, index=False, float_format='%.2f')

In [ ]:
sss

# 1. US ASOS Dataset

## 1.1 Combining Files

In [ ]:
# file_dir, save_file_dir  = 'TOP' , 'TOP' # high 0
# file_dir, save_file_dir = 'DEN', './data/asos/denver'

# file_dir, save_file_dir = 'BIS', './data/asos/bismarck_ND'
# file_dir, save_file_dir = 'ABR', './data/asos/aberdeen_SD' # only to 2012
# file_dir, save_file_dir = 'MSP', './data/asos/minneapolis'

# file_dir, save_file_dir = 'LNK', './data/asos/lincoln_NE'
# file_dir, save_file_dir = 'DSM', './data/asos/des_moines_IA'
# file_dir, save_file_dir = 'SPI', './data/asos/springfield_IL'
file_dir, save_file_dir = 'OLM', './data/asos/olympia'

In [ ]:
from io import StringIO

fout = StringIO()
for year in range(2000,2017):
    for month in range(1,13):
        try: 
            for line in open('D:/1min采样间隔的数据/'+ str(year) + '/'+ file_dir +str(year)+"%02d"%(month)+".dat"):
                fout.write(line.replace("[", " ").replace("]", " ").replace('"', " ").replace('`', " "))
        except: 
            pass
all_data_file = fout.getvalue()
fout.close()

## 1.2 Read from US 1 min

In [ ]:
if file_dir in ["MSP", 'DEN']: 
    df = pd.read_csv(StringIO(all_data_file), skipinitialspace=True, error_bad_lines=False, sep=' ',
                    names = ['stationID','time','vis','day_type','vis2','day_type2','dir','speed','dir_max','speed_max','visual_range', 'unknown'])
else:
    df = pd.read_csv(StringIO(all_data_file), skipinitialspace=True, sep=' ', error_bad_lines=False,
                    names = ['stationID','time','vis','day_type','dir','speed','dir_max','speed_max','unname','visual_range', 'unknown'])

df

In [ ]:
# Drop duplicate
df.drop_duplicates(subset='time', inplace=True)

# Drop too many field
df = df[df['unknown'].isnull()].copy()
df.drop('unknown', axis=1, inplace=True)

# Drop missing field
# Cannot use visual range, since some previous data lack of
df.dropna(subset=['vis', 'dir','speed','dir_max','speed_max'], inplace=True)

df

In [ ]:
df['year_month'] = df['time'].apply(lambda x: x[3:9])
df['year_month'].value_counts().sort_index().plot(kind='bar', figsize=(20,4))

In [ ]:
# Drop non-integer data for direction
df.dir = pd.to_numeric(df.dir, errors='coerce')  # Drop not a number
df = df[df.dir == df.dir // 1] # Drop not an integer
df = df[df['dir'].isin(arange(0,361))] # Drop not in range
df['dir'] = df['dir'].apply(lambda x: int(x)) # Convert back to integer
# Need to consider 0

display(df.dir.value_counts().sort_index())
df.dir.value_counts().sort_index().plot(kind='bar', figsize=(20,4))

In [ ]:
# Drop non-integer data for speed
df.speed = pd.to_numeric(df.speed, errors='coerce')
df = df[df.speed == df.speed // 1]
df['speed'] = df['speed'].apply(lambda x: int(x))

display(df.speed.value_counts().sort_index())
df.speed.value_counts().sort_index().plot(kind='bar', figsize=(20,4))

In [ ]:
df.query('(speed > 100) | (speed <0 )')

In [ ]:
df = df.query('(speed <= 100)  & (speed >= 0)')
df = df[df['day_type'].str.contains("D|N") == True]
df['vis']=pd.to_numeric(df['vis'], errors='coerce')
df = df.dropna(subset=['vis'])

df['year_month'].value_counts().sort_index().plot(kind='bar', figsize=(20,4))

In [ ]:
incre = 10
max_speed = 40
max_count = max_count_for_angles(df, 0, 360, incre)
plot_range = [0, max_speed, 0, max_count*1.05]

for angle in arange(0, 360, incre):
    start_angle, end_angle = angle-incre/2, angle+incre/2
    sub_df, sub_max_speed = select_df_by_angle(df, start_angle, end_angle)   
    
    fig = plt.figure()
    sub_df['speed'].hist(bins=arange(0, max_speed), alpha=0.5, label='Data')
    plt.axis(plot_range)
    plt_configure(figsize=(3,1.5), title='%s (%s - %s), %s' %(angle, start_angle, end_angle, len(sub_df)) )
align_figures()

In [ ]:
# Create Output csv

df['HrMn'] = df['time'].apply(lambda x: x[11:15])
df['date'] = df['time'].apply(lambda x: x[3:11])
df['time'] = df['date'].apply(lambda x: x[3:])

df=df[['stationID','date','HrMn', 'vis','day_type','dir','speed','dir_max','speed_max']]
df.to_csv(save_file_dir + '/minute_avg.csv', index=False)

## 1.3 US 1 min to Hour avg

In [ ]:
print(file_dir)

In [ ]:
## Output format: date, HrMn, dir, speed, speed_max

if 'df' not in globals():
    df = pd.read_csv(save_file_dir + '/minute_avg.csv', header=0, skipinitialspace=True, dtype={'HrMn': object})

df['date']=pd.to_numeric(df['date'], errors='coerce')
df['speed']=pd.to_numeric(df['speed'], errors='coerce')
df['dir']=pd.to_numeric(df['dir'], errors='coerce')
df['speed_max']=pd.to_numeric(df['speed_max'], downcast='integer', errors='coerce')
df = df.dropna()
df=df[['date','HrMn','dir','speed','speed_max']]
df

In [ ]:
df['Hr']=df['HrMn'].apply(lambda x: int(str(x)[:-2]))
df['x'] = df['speed'] * cos(df['dir'] * pi / 180.0)
df['y'] = df['speed'] * sin(df['dir'] * pi / 180.0)
temp_df = df.groupby(['date', 'Hr']).agg({'x' : np.mean,'y': np.mean,'speed_max': np.max}).reset_index()
temp_df['speed']=np.sqrt(temp_df.x**2 + temp_df.y**2)
temp_df['dir']=np.degrees(np.arctan2(temp_df.y, temp_df.x))%360
temp_df['HrMn']=temp_df['Hr'].apply(lambda x: "%02d00"%x)
temp_df.drop(['Hr', 'x','y'], 1, inplace=True)

### Time Comparison

In [ ]:
bins=arange(0,40)
df['speed'].hist(bins=bins, normed=True,alpha=0.5,label='min')
temp_df['speed'].hist(bins=bins, normed=True,alpha=0.5,label='hour')
plt_configure(legend=True)

In [ ]:
bins=arange(0,362)
df['dir'].hist(bins=bins, normed=True,alpha=0.5,label='min')
temp_df['dir'].hist(bins=bins, normed=True,alpha=0.5,label='hour')
plt_configure(legend=True, figsize=(20,4))

In [ ]:
bins=arange(0,370,5)
df['dir'].hist(bins=bins, normed=True,alpha=0.5,label='min')
temp_df['dir'].hist(bins=bins, normed=True,alpha=0.5,label='hour')
plt_configure(legend=True, figsize=(20,4))

### Resample Comparison

In [ ]:
bins=arange(0,362)
for sample_size in [50000, 300000]:
    plt.figure()
    df['dir'].hist(bins=bins, normed=True,alpha=0.5,label='min')
    df.sample(n=sample_size, replace=True)['dir'].hist(bins=bins, normed=True,alpha=0.5,label='min_resampled')
    plt_configure(legend=True, figsize=(20,4))

### Direction Comparison

In [ ]:
incre = 10
max_speed = temp_df.speed.max()

for angle in arange(0, 360, incre):
    start_angle, end_angle = angle-incre/2, angle+incre/2
    sub_df, _ = select_df_by_angle(df, start_angle, end_angle)
    sub_df_hourly, _ = select_df_by_angle(temp_df, start_angle, end_angle)   

    fig = plt.figure()
    bins = arange(0, max_speed)
    sub_df['speed'].hist(bins=bins, alpha=0.5, label='min', normed=True)
    sub_df_hourly['speed'].hist(bins=bins, alpha=0.5, label='hour', normed=True)
    plt.gca().set_xlim([0, max_speed])
    plt_configure(figsize=(3,1.5), legend=True, title='%s (%s - %s), %s/%s' %(angle, start_angle, end_angle, len(sub_df),len(sub_df_hourly)))
align_figures()

In [ ]:
check_time_shift(df)
check_time_shift(temp_df)

In [ ]:
temp_df.to_csv(save_file_dir + '/hr_avg.csv', index=False, float_format='%.2f')

In [ ]:
sss

# 3. Read from Chinese Data sets

In [ ]:
import csv

ipath= "./data/NCDC/cn/上海/上海/dat.txt"
uipath = unicode(ipath , "utf8")

with open(uipath) as fin, open('./data/NCDC/test.txt', 'w') as fout:
    o=csv.writer(fout)
    for line in fin:
        o.writerow(line.split())