In [2]:
%matplotlib inline
%load_ext autoreload
%autoreload 2
from import_file import *
load_libs()



# Portus

In [2]:
speed_input_file = 'D:/data/speed.json'
dir_input_file = 'D:/data/direction.json'

import json
from pprint import pprint

with open(speed_input_file) as data_file:    
    speed_data = json.load(data_file)

with open(dir_input_file) as data_file:    
    dir_data = json.load(data_file)
# pprint(data)

In [3]:
speed_df = pd.DataFrame(speed_data["data"][0][0], columns=['timestamp', 'speed'])
dir_df = pd.DataFrame(dir_data["data"][0][0], columns=['timestamp', 'dir'])

In [4]:
df = pd.merge(speed_df, dir_df, on='timestamp')
df

           timestamp  speed    dir
0       856090800000   0.67  260.0
1       856094400000   0.71  263.0
2       856098000000   0.70  255.0
3       856101600000   0.76  272.0
4       856105200000   0.81  265.0
5       856108800000   0.80  264.0
6       856112400000   0.72  294.0
7       856116000000   0.71  255.0
8       856119600000   0.83  258.0
9       856123200000   0.77  269.0
10      856126800000   0.54  282.0
11      856130400000   0.59  283.0
12      856134000000   0.80  280.0
13      856137600000   0.80  275.0
14      856141200000   0.79  279.0
15      856144800000   0.77  269.0
16      856148400000   0.55  288.0
17      856152000000   0.59  287.0
18      856155600000   0.62  265.0
19      856159200000   0.48  281.0
20      856162800000   0.61  291.0
21      856166400000   0.56  276.0
22      856170000000   0.57  297.0
23      856173600000   0.60  284.0
24      856177200000   0.45  290.0
25      856180800000   0.36  263.0
26      856184400000   0.18  228.0
27      856188000000   0.38  260.0
28      856191600000   0.18  248.0
29      856195200000   0.62  220.0
...              ...    ...    ...
34267  1140804000000   1.03  289.0
34268  1140807600000   0.89  272.0
34269  1140811200000   0.77  312.0
34270  1140814800000   0.67  281.0
34271  1140818400000   0.84  281.0
34272  1140822000000   0.58  320.0
34273  1140825600000   0.70  272.0
34274  1140829200000   0.72  281.0
34275  1140832800000   0.58  284.0
34276  1140836400000   0.32  289.0
34277  1140840000000   0.37  281.0
34278  1140843600000   0.51  289.0
34279  1140847200000   0.46  261.0
34280  1140850800000   0.39  306.0
34281  1140854400000   0.32  272.0
34282  1140858000000   0.30  267.0
34283  1140861600000   0.28  247.0
34284  1140865200000   0.21  219.0
34285  1140868800000   0.11  199.0
34286  1140872400000   0.14  255.0
34287  1140876000000   0.18  104.0
34288  1140879600000   0.25  241.0
34289  1140883200000   0.28  244.0
34290  1140886800000   0.42   61.0
34291  1140890400000   0.39   33.0
34292  1140894000000   0.28   53.0
34293  1140897600000   0.09   56.0
34294  1140901200000   0.09  135.0
34295  1140904800000   0.51  202.0
34296  1140908400000   0.82  165.0

[34297 rows x 3 columns]

In [5]:
df['hr']=df['timestamp']/1000/3600
df['time']=pd.to_datetime('2006-01-01T00:00:00Z')+pd.to_timedelta(df['hr']-315568, unit='h')

In [6]:
df

           timestamp  speed    dir        hr                time
0       856090800000   0.67  260.0  237803.0 1997-02-16 19:00:00
1       856094400000   0.71  263.0  237804.0 1997-02-16 20:00:00
2       856098000000   0.70  255.0  237805.0 1997-02-16 21:00:00
3       856101600000   0.76  272.0  237806.0 1997-02-16 22:00:00
4       856105200000   0.81  265.0  237807.0 1997-02-16 23:00:00
5       856108800000   0.80  264.0  237808.0 1997-02-17 00:00:00
6       856112400000   0.72  294.0  237809.0 1997-02-17 01:00:00
7       856116000000   0.71  255.0  237810.0 1997-02-17 02:00:00
8       856119600000   0.83  258.0  237811.0 1997-02-17 03:00:00
9       856123200000   0.77  269.0  237812.0 1997-02-17 04:00:00
10      856126800000   0.54  282.0  237813.0 1997-02-17 05:00:00
11      856130400000   0.59  283.0  237814.0 1997-02-17 06:00:00
12      856134000000   0.80  280.0  237815.0 1997-02-17 07:00:00
13      856137600000   0.80  275.0  237816.0 1997-02-17 08:00:00
14      856141200000   0.79  279.0  237817.0 1997-02-17 09:00:00
15      856144800000   0.77  269.0  237818.0 1997-02-17 10:00:00
16      856148400000   0.55  288.0  237819.0 1997-02-17 11:00:00
17      856152000000   0.59  287.0  237820.0 1997-02-17 12:00:00
18      856155600000   0.62  265.0  237821.0 1997-02-17 13:00:00
19      856159200000   0.48  281.0  237822.0 1997-02-17 14:00:00
20      856162800000   0.61  291.0  237823.0 1997-02-17 15:00:00
21      856166400000   0.56  276.0  237824.0 1997-02-17 16:00:00
22      856170000000   0.57  297.0  237825.0 1997-02-17 17:00:00
23      856173600000   0.60  284.0  237826.0 1997-02-17 18:00:00
24      856177200000   0.45  290.0  237827.0 1997-02-17 19:00:00
25      856180800000   0.36  263.0  237828.0 1997-02-17 20:00:00
26      856184400000   0.18  228.0  237829.0 1997-02-17 21:00:00
27      856188000000   0.38  260.0  237830.0 1997-02-17 22:00:00
28      856191600000   0.18  248.0  237831.0 1997-02-17 23:00:00
29      856195200000   0.62  220.0  237832.0 1997-02-18 00:00:00
...              ...    ...    ...       ...                 ...
34267  1140804000000   1.03  289.0  316890.0 2006-02-25 02:00:00
34268  1140807600000   0.89  272.0  316891.0 2006-02-25 03:00:00
34269  1140811200000   0.77  312.0  316892.0 2006-02-25 04:00:00
34270  1140814800000   0.67  281.0  316893.0 2006-02-25 05:00:00
34271  1140818400000   0.84  281.0  316894.0 2006-02-25 06:00:00
34272  1140822000000   0.58  320.0  316895.0 2006-02-25 07:00:00
34273  1140825600000   0.70  272.0  316896.0 2006-02-25 08:00:00
34274  1140829200000   0.72  281.0  316897.0 2006-02-25 09:00:00
34275  1140832800000   0.58  284.0  316898.0 2006-02-25 10:00:00
34276  1140836400000   0.32  289.0  316899.0 2006-02-25 11:00:00
34277  1140840000000   0.37  281.0  316900.0 2006-02-25 12:00:00
34278  1140843600000   0.51  289.0  316901.0 2006-02-25 13:00:00
34279  1140847200000   0.46  261.0  316902.0 2006-02-25 14:00:00
34280  1140850800000   0.39  306.0  316903.0 2006-02-25 15:00:00
34281  1140854400000   0.32  272.0  316904.0 2006-02-25 16:00:00
34282  1140858000000   0.30  267.0  316905.0 2006-02-25 17:00:00
34283  1140861600000   0.28  247.0  316906.0 2006-02-25 18:00:00
34284  1140865200000   0.21  219.0  316907.0 2006-02-25 19:00:00
34285  1140868800000   0.11  199.0  316908.0 2006-02-25 20:00:00
34286  1140872400000   0.14  255.0  316909.0 2006-02-25 21:00:00
34287  1140876000000   0.18  104.0  316910.0 2006-02-25 22:00:00
34288  1140879600000   0.25  241.0  316911.0 2006-02-25 23:00:00
34289  1140883200000   0.28  244.0  316912.0 2006-02-26 00:00:00
34290  1140886800000   0.42   61.0  316913.0 2006-02-26 01:00:00
34291  1140890400000   0.39   33.0  316914.0 2006-02-26 02:00:00
34292  1140894000000   0.28   53.0  316915.0 2006-02-26 03:00:00
34293  1140897600000   0.09   56.0  316916.0 2006-02-26 04:00:00
34294  1140901200000   0.09  135.0  316917.0 2006-02-26 05:00:00
34295  1140904800000   0.51  202.0  316918.0 2006-02-26 06:00:00
34296  1140908400000   0.82  165.0  316919.0 2006-02-26 07:00:00

[34297 rows x 5 columns]

In [7]:
df.sort_values(by='speed')

           timestamp  speed    dir        hr                time
23846  1023728400000   0.00  297.0  284369.0 2002-06-11 01:00:00
2667    882594000000   0.00  257.0  245165.0 1997-12-20 13:00:00
2666    882586800000   0.00  307.0  245163.0 1997-12-20 11:00:00
26396  1052478000000   0.00  148.0  292355.0 2003-05-09 19:00:00
2281    881208000000   0.00  222.0  244780.0 1997-12-04 12:00:00
26076  1051210800000   0.00  161.0  292003.0 2003-04-25 03:00:00
13775   945979200000   0.01  249.0  262772.0 1999-12-24 04:00:00
8376    922053600000   0.01  289.0  256126.0 1999-03-22 06:00:00
21578   983880000000   0.01   34.0  273300.0 2001-03-06 20:00:00
12072   939859200000   0.01  180.0  261072.0 1999-10-14 08:00:00
21577   983858400000   0.01   49.0  273294.0 2001-03-06 14:00:00
15026   950482800000   0.01  265.0  264023.0 2000-02-14 07:00:00
27604  1065348000000   0.01  254.0  295930.0 2003-10-05 18:00:00
20550   979981200000   0.01  338.0  272217.0 2001-01-20 17:00:00
4448    901738800000   0.01   42.0  250483.0 1998-07-30 03:00:00
3367    893415600000   0.01  219.0  248171.0 1998-04-24 19:00:00
11712   938588400000   0.01  185.0  260719.0 1999-09-29 15:00:00
6549    915476400000   0.01  220.0  254299.0 1999-01-05 03:00:00
19094   970596000000   0.01  312.0  269610.0 2000-10-04 02:00:00
24438  1025859600000   0.01  132.0  284961.0 2002-07-05 17:00:00
22522  1018962000000   0.01  297.0  283045.0 2002-04-16 21:00:00
23152  1021230000000   0.01  201.0  283675.0 2002-05-13 03:00:00
21573   983790000000   0.01  336.0  273275.0 2001-03-05 19:00:00
3277    893055600000   0.01  312.0  248071.0 1998-04-20 15:00:00
26074  1051203600000   0.01  142.0  292001.0 2003-04-25 01:00:00
21587   983948400000   0.01  264.0  273319.0 2001-03-07 15:00:00
26386  1052442000000   0.01  280.0  292345.0 2003-05-09 09:00:00
7664    919490400000   0.01    4.0  255414.0 1999-02-20 14:00:00
25648  1049670000000   0.01  288.0  291575.0 2003-04-07 07:00:00
10890   935661600000   0.01  346.0  259906.0 1999-08-26 18:00:00
...              ...    ...    ...       ...                 ...
29696  1112137200000    NaN  278.0  308927.0 2005-03-30 07:00:00
29697  1112137200000    NaN    NaN  308927.0 2005-03-30 07:00:00
29718  1112209200000    NaN   33.0  308947.0 2005-03-31 03:00:00
29719  1112209200000    NaN    NaN  308947.0 2005-03-31 03:00:00
29965  1113098400000    NaN  306.0  309194.0 2005-04-10 10:00:00
29966  1113098400000    NaN    NaN  309194.0 2005-04-10 10:00:00
30198  1116378000000    NaN  278.0  310105.0 2005-05-18 09:00:00
30209  1116439200000    NaN   59.0  310122.0 2005-05-19 02:00:00
30223  1116511200000    NaN   70.0  310142.0 2005-05-19 22:00:00
30230  1116540000000    NaN   59.0  310150.0 2005-05-20 06:00:00
30235  1116554400000    NaN   33.0  310154.0 2005-05-20 10:00:00
30241  1116637200000    NaN  286.0  310177.0 2005-05-21 09:00:00
30284  1116824400000    NaN  241.0  310229.0 2005-05-23 13:00:00
30357  1117098000000    NaN   81.0  310305.0 2005-05-26 17:00:00
30365  1117155600000    NaN   81.0  310321.0 2005-05-27 09:00:00
30370  1117170000000    NaN  135.0  310325.0 2005-05-27 13:00:00
30373  1117242000000    NaN   73.0  310345.0 2005-05-28 09:00:00
30397  1117339200000    NaN  343.0  310372.0 2005-05-29 12:00:00
30404  1117364400000    NaN  151.0  310379.0 2005-05-29 19:00:00
30409  1117375200000    NaN  261.0  310382.0 2005-05-29 22:00:00
30413  1117393200000    NaN  253.0  310387.0 2005-05-30 03:00:00
30420  1117447200000    NaN   42.0  310402.0 2005-05-30 18:00:00
30864  1128186000000    NaN  129.0  313385.0 2005-10-02 01:00:00
30870  1128207600000    NaN   39.0  313391.0 2005-10-02 07:00:00
30874  1128222000000    NaN  199.0  313395.0 2005-10-02 11:00:00
31631  1130947200000    NaN  154.0  314152.0 2005-11-03 00:00:00
32228  1133096400000    NaN  272.0  314749.0 2005-11-27 21:00:00
32229  1133096400000    NaN    NaN  314749.0 2005-11-27 21:00:00
34025  1139932800000    NaN  104.0  316648.0 2006-02-15 00:00:00
34026  1139932800000    NaN    NaN  316648.0 2006-02-15 00:00:00

[34297 rows x 5 columns]

In [8]:
df[df.duplicated(subset=['timestamp'])]

           timestamp  speed    dir        hr                time
59      856299600000   0.22    NaN  237861.0 1997-02-19 05:00:00
60      856299600000    NaN  201.0  237861.0 1997-02-19 05:00:00
61      856299600000    NaN    NaN  237861.0 1997-02-19 05:00:00
803     860846400000   0.23    NaN  239124.0 1997-04-12 20:00:00
804     860846400000    NaN   96.0  239124.0 1997-04-12 20:00:00
805     860846400000    NaN    NaN  239124.0 1997-04-12 20:00:00
824     861681600000   0.59    NaN  239356.0 1997-04-22 12:00:00
825     861681600000    NaN  209.0  239356.0 1997-04-22 12:00:00
826     861681600000    NaN    NaN  239356.0 1997-04-22 12:00:00
901     861969600000   0.88    NaN  239436.0 1997-04-25 20:00:00
902     861969600000    NaN  237.0  239436.0 1997-04-25 20:00:00
903     861969600000    NaN    NaN  239436.0 1997-04-25 20:00:00
1205    863056800000   0.87    NaN  239738.0 1997-05-08 10:00:00
1293    863373600000   0.79    NaN  239826.0 1997-05-12 02:00:00
1294    863373600000    NaN  244.0  239826.0 1997-05-12 02:00:00
1295    863373600000    NaN    NaN  239826.0 1997-05-12 02:00:00
1712    867805200000   0.87    NaN  241057.0 1997-07-02 09:00:00
1713    867805200000    NaN  271.0  241057.0 1997-07-02 09:00:00
1714    867805200000    NaN    NaN  241057.0 1997-07-02 09:00:00
1970    879930000000   0.57    NaN  244425.0 1997-11-19 17:00:00
1971    879930000000    NaN  285.0  244425.0 1997-11-19 17:00:00
1972    879930000000    NaN    NaN  244425.0 1997-11-19 17:00:00
2073    880459200000   0.90    NaN  244572.0 1997-11-25 20:00:00
2118    880621200000   0.77    NaN  244617.0 1997-11-27 17:00:00
2156    880758000000   0.40    NaN  244655.0 1997-11-29 07:00:00
2157    880758000000    NaN  270.0  244655.0 1997-11-29 07:00:00
2158    880758000000    NaN    NaN  244655.0 1997-11-29 07:00:00
2277    881190000000    NaN  274.0  244775.0 1997-12-04 07:00:00
2279    881193600000   0.19    NaN  244776.0 1997-12-04 08:00:00
2662    882579600000   0.62    NaN  245161.0 1997-12-20 09:00:00
...              ...    ...    ...       ...                 ...
29989  1115625600000   0.04    NaN  309896.0 2005-05-09 16:00:00
30198  1116378000000    NaN  278.0  310105.0 2005-05-18 09:00:00
30209  1116439200000    NaN   59.0  310122.0 2005-05-19 02:00:00
30223  1116511200000    NaN   70.0  310142.0 2005-05-19 22:00:00
30230  1116540000000    NaN   59.0  310150.0 2005-05-20 06:00:00
30235  1116554400000    NaN   33.0  310154.0 2005-05-20 10:00:00
30284  1116824400000    NaN  241.0  310229.0 2005-05-23 13:00:00
30357  1117098000000    NaN   81.0  310305.0 2005-05-26 17:00:00
30365  1117155600000    NaN   81.0  310321.0 2005-05-27 09:00:00
30397  1117339200000    NaN  343.0  310372.0 2005-05-29 12:00:00
30404  1117364400000    NaN  151.0  310379.0 2005-05-29 19:00:00
30420  1117447200000    NaN   42.0  310402.0 2005-05-30 18:00:00
30864  1128186000000    NaN  129.0  313385.0 2005-10-02 01:00:00
30870  1128207600000    NaN   39.0  313391.0 2005-10-02 07:00:00
30874  1128222000000    NaN  199.0  313395.0 2005-10-02 11:00:00
31631  1130947200000    NaN  154.0  314152.0 2005-11-03 00:00:00
31805  1131577200000   0.77    NaN  314327.0 2005-11-10 07:00:00
32168  1132884000000   0.04    NaN  314690.0 2005-11-25 10:00:00
32227  1133096400000   0.84    NaN  314749.0 2005-11-27 21:00:00
32228  1133096400000    NaN  272.0  314749.0 2005-11-27 21:00:00
32229  1133096400000    NaN    NaN  314749.0 2005-11-27 21:00:00
32551  1134630000000   0.51    NaN  315175.0 2005-12-15 15:00:00
32587  1134759600000   0.23    NaN  315211.0 2005-12-17 03:00:00
32700  1135166400000   1.45    NaN  315324.0 2005-12-21 20:00:00
33341  1137474000000   0.63    NaN  315965.0 2006-01-17 13:00:00
33481  1137978000000   0.04    NaN  316105.0 2006-01-23 09:00:00
33885  1139432400000   0.07    NaN  316509.0 2006-02-09 05:00:00
34024  1139932800000   0.44    NaN  316648.0 2006-02-15 00:00:00
34025  1139932800000    NaN  104.0  316648.0 2006-02-15 00:00:00
34026  1139932800000    NaN    NaN  316648.0 2006-02-15 00:00:00

[280 rows x 5 columns]

In [9]:
df.drop_duplicates(subset='time', inplace=True)

In [12]:
df

           timestamp  speed    dir        hr                time
0       856090800000   0.67  260.0  237803.0 1997-02-16 19:00:00
1       856094400000   0.71  263.0  237804.0 1997-02-16 20:00:00
2       856098000000   0.70  255.0  237805.0 1997-02-16 21:00:00
3       856101600000   0.76  272.0  237806.0 1997-02-16 22:00:00
4       856105200000   0.81  265.0  237807.0 1997-02-16 23:00:00
5       856108800000   0.80  264.0  237808.0 1997-02-17 00:00:00
6       856112400000   0.72  294.0  237809.0 1997-02-17 01:00:00
7       856116000000   0.71  255.0  237810.0 1997-02-17 02:00:00
8       856119600000   0.83  258.0  237811.0 1997-02-17 03:00:00
9       856123200000   0.77  269.0  237812.0 1997-02-17 04:00:00
10      856126800000   0.54  282.0  237813.0 1997-02-17 05:00:00
11      856130400000   0.59  283.0  237814.0 1997-02-17 06:00:00
12      856134000000   0.80  280.0  237815.0 1997-02-17 07:00:00
13      856137600000   0.80  275.0  237816.0 1997-02-17 08:00:00
14      856141200000   0.79  279.0  237817.0 1997-02-17 09:00:00
15      856144800000   0.77  269.0  237818.0 1997-02-17 10:00:00
16      856148400000   0.55  288.0  237819.0 1997-02-17 11:00:00
17      856152000000   0.59  287.0  237820.0 1997-02-17 12:00:00
18      856155600000   0.62  265.0  237821.0 1997-02-17 13:00:00
19      856159200000   0.48  281.0  237822.0 1997-02-17 14:00:00
20      856162800000   0.61  291.0  237823.0 1997-02-17 15:00:00
21      856166400000   0.56  276.0  237824.0 1997-02-17 16:00:00
22      856170000000   0.57  297.0  237825.0 1997-02-17 17:00:00
23      856173600000   0.60  284.0  237826.0 1997-02-17 18:00:00
24      856177200000   0.45  290.0  237827.0 1997-02-17 19:00:00
25      856180800000   0.36  263.0  237828.0 1997-02-17 20:00:00
26      856184400000   0.18  228.0  237829.0 1997-02-17 21:00:00
27      856188000000   0.38  260.0  237830.0 1997-02-17 22:00:00
28      856191600000   0.18  248.0  237831.0 1997-02-17 23:00:00
29      856195200000   0.62  220.0  237832.0 1997-02-18 00:00:00
...              ...    ...    ...       ...                 ...
34267  1140804000000   1.03  289.0  316890.0 2006-02-25 02:00:00
34268  1140807600000   0.89  272.0  316891.0 2006-02-25 03:00:00
34269  1140811200000   0.77  312.0  316892.0 2006-02-25 04:00:00
34270  1140814800000   0.67  281.0  316893.0 2006-02-25 05:00:00
34271  1140818400000   0.84  281.0  316894.0 2006-02-25 06:00:00
34272  1140822000000   0.58  320.0  316895.0 2006-02-25 07:00:00
34273  1140825600000   0.70  272.0  316896.0 2006-02-25 08:00:00
34274  1140829200000   0.72  281.0  316897.0 2006-02-25 09:00:00
34275  1140832800000   0.58  284.0  316898.0 2006-02-25 10:00:00
34276  1140836400000   0.32  289.0  316899.0 2006-02-25 11:00:00
34277  1140840000000   0.37  281.0  316900.0 2006-02-25 12:00:00
34278  1140843600000   0.51  289.0  316901.0 2006-02-25 13:00:00
34279  1140847200000   0.46  261.0  316902.0 2006-02-25 14:00:00
34280  1140850800000   0.39  306.0  316903.0 2006-02-25 15:00:00
34281  1140854400000   0.32  272.0  316904.0 2006-02-25 16:00:00
34282  1140858000000   0.30  267.0  316905.0 2006-02-25 17:00:00
34283  1140861600000   0.28  247.0  316906.0 2006-02-25 18:00:00
34284  1140865200000   0.21  219.0  316907.0 2006-02-25 19:00:00
34285  1140868800000   0.11  199.0  316908.0 2006-02-25 20:00:00
34286  1140872400000   0.14  255.0  316909.0 2006-02-25 21:00:00
34287  1140876000000   0.18  104.0  316910.0 2006-02-25 22:00:00
34288  1140879600000   0.25  241.0  316911.0 2006-02-25 23:00:00
34289  1140883200000   0.28  244.0  316912.0 2006-02-26 00:00:00
34290  1140886800000   0.42   61.0  316913.0 2006-02-26 01:00:00
34291  1140890400000   0.39   33.0  316914.0 2006-02-26 02:00:00
34292  1140894000000   0.28   53.0  316915.0 2006-02-26 03:00:00
34293  1140897600000   0.09   56.0  316916.0 2006-02-26 04:00:00
34294  1140901200000   0.09  135.0  316917.0 2006-02-26 05:00:00
34295  1140904800000   0.51  202.0  316918.0 2006-02-26 06:00:00
34296  1140908400000   0.82  165.0  316919.0 2006-02-26 07:00:00

[34017 rows x 5 columns]

In [10]:
save_file = 'D:/data/dat.csv'
df[['time','speed','dir']].to_csv(save_file, index=False)

In [11]:
sss

NameError: name 'sss' is not defined

# US ASOS Dataset

## Combining Files

In [ ]:
# file_dir, save_file_dir = 'DEN', './data/asos/denver_CO'
# file_dir, save_file_dir = 'GJT', './data/asos/grand_junction_CO'
# file_dir, save_file_dir = 'PUB', './data/asos/pueblo_CO'
# file_dir, save_file_dir = 'COS', './data/asos/colorado_springs_CO'

# file_dir, save_file_dir = 'BIS', 'D:/data/asos/bismarck_ND' # slight different shape on hour avg
# file_dir, save_file_dir = 'FAR', './data/asos/fargo_ND' # 
# file_dir, save_file_dir = 'GFK', './data/asos/grand_forks_ND' 
# file_dir, save_file_dir = 'ISN', 'D:/data/asos/williston_ND'

# file_dir, save_file_dir = 'OLM', 'D:/data/asos/olympia_WA', # strong directionality; change of speed shapre, high 0 when avg
# file_dir, save_file_dir = 'SEA', './data/asos/seattle_WA' # strong directionality
# file_dir, save_file_dir = 'UIL', 'D:/data/asos/quillayute_WA' 

# file_dir, save_file_dir = 'SPI', 'D:/data/asos/springfield_IL'
# file_dir, save_file_dir = 'ORD', 'D:/data/asos/chicago_ohare_IL' 

# file_dir, save_file_dir = 'ABR', './data/asos/aberdeen_SD' # only to 2012
# file_dir, save_file_dir = 'MSP', './data/asos/minneapolis_MN'
# file_dir, save_file_dir = 'LNK', './data/asos/lincoln_NE' # slight transformation on hourly avg
# file_dir, save_file_dir = 'DSM', './data/asos/des_moines_IA'
file_dir, save_file_dir = 'TOP' , 'D:/data/asos/topeka_KS' # high 0 when averaging

# file_dir, save_file_dir = 'BWI' , 'D:/data/asos/baltimore_MD' # slight high 0 after averaging

In [ ]:
convert_type = 'hr_avg'
# convert_type = '10min_avg'

In [ ]:
from io import StringIO

fout = StringIO()
for year in range(2000,2017):
    for month in range(1,13):
        try: 
            for line in open('D:/1min采样间隔的数据/'+ str(year) + '/'+ file_dir +str(year)+"%02d"%(month)+".dat"):
                fout.write(line.replace("[", " ").replace("]", " ").replace('"', " ").replace('`', " "))
        except: 
            pass
all_data_file = fout.getvalue()
fout.close()

## Read from US 1 min

In [ ]:
if file_dir in ["MSP", 'DEN', 'SEA', 'ORD']: 
    df = pd.read_csv(StringIO(all_data_file), skipinitialspace=True, error_bad_lines=False, sep=' ',
                    names = ['stationID','time','vis','day_type','vis2','day_type2','dir','speed','dir_max','speed_max','visual_range', 'unknown'])
elif  file_dir in ['BWI']:
    df= pd.read_csv(StringIO(all_data_file), skipinitialspace=True, error_bad_lines=False, sep=' ',
                names = ['stationID','time','vis','day_type','vis2','day_type2','dir','speed','dir_max','speed_max','visual_range', 'unknown2',  'unknown'])
else:
    df = pd.read_csv(StringIO(all_data_file), skipinitialspace=True, sep=' ', error_bad_lines=False,
                    names = ['stationID','time','vis','day_type','dir','speed','dir_max','speed_max','unname','visual_range', 'unknown'])

df

In [ ]:
# Drop duplicate
df.drop_duplicates(subset='time', inplace=True)

# Drop too many field
df = df[df['unknown'].isnull()].copy()
df.drop('unknown', axis=1, inplace=True)

# Drop missing field
# Cannot use visual range, since some previous data lack of
df.dropna(subset=['vis', 'dir','speed','dir_max','speed_max'], inplace=True)

df

In [ ]:
df['year_month'] = df['time'].apply(lambda x: x[3:9])
df['year_month'].value_counts().sort_index().plot(kind='bar', figsize=(20,4))

In [ ]:
# Drop non-integer data for direction
df.dir = pd.to_numeric(df.dir, errors='coerce')  # Drop not a number
df = df[df.dir == df.dir // 1] # Drop not an integer
df = df[df['dir'].isin(arange(0,361))] # Drop not in range
df['dir'] = df['dir'].apply(lambda x: int(x)) # Convert back to integer
# Need to consider 0

display(df.dir.value_counts().sort_index())
df.dir.value_counts().sort_index().plot(kind='bar', figsize=(20,4))

In [ ]:
# Drop non-integer data for speed
df.speed = pd.to_numeric(df.speed, errors='coerce')
df = df[df.speed == df.speed // 1]
df['speed'] = df['speed'].apply(lambda x: int(x))

display(df.speed.value_counts().sort_index())
df.speed.value_counts().sort_index().plot(kind='bar', figsize=(20,4))

In [ ]:
df.query('(speed > 100) | (speed <0 )')

In [ ]:
df = df.query('(speed <= 100)  & (speed >= 0)')
df = df[df['day_type'].str.contains("D|N") == True]
df['vis']=pd.to_numeric(df['vis'], errors='coerce')
df = df.dropna(subset=['vis'])

display(df.query('speed == 0'))
# Drop Dir 0?
display(df.query('dir == 0'))

In [ ]:
# [1, 360] -> [0, 360]
df['dir']=df['dir'].apply(lambda x: x%360 if x <= 360 else x)

## Simple viz after data wrangling

In [ ]:
df['year_month'].value_counts().sort_index().plot(kind='bar', figsize=(20,4))

In [ ]:
incre = 10
max_speed = 40
max_count = max_count_for_angles(df, 0, 360, incre)
plot_range = [0, max_speed, 0, max_count*1.05]

for angle in arange(0, 360, incre):
    start_angle, end_angle = angle-incre/2, angle+incre/2
    sub_df, sub_max_speed = select_df_by_angle(df, start_angle, end_angle)   
    
    fig = plt.figure()
    sub_df['speed'].hist(bins=arange(0, max_speed), alpha=0.5, label='Data')
    plt.axis(plot_range)
    plt_configure(figsize=(3,1.5), title='%s (%s - %s), %s' %(angle, start_angle, end_angle, len(sub_df)) )
align_figures()

In [ ]:
# Create Output csv

df['HrMn'] = df['time'].apply(lambda x: x[11:15])
df['date'] = df['time'].apply(lambda x: x[3:11])
df['time'] = df['date'].apply(lambda x: x[3:])

# df=df[['stationID','date','HrMn', 'vis','day_type','dir','speed','dir_max','speed_max']]
df=df[['stationID','date','HrMn', 'dir','speed','speed_max']]

In [ ]:
# df.to_csv(save_file_dir + '/minute_avg.csv', index=False, float_format='%.2f')

## US 1 min to Hour avg

In [ ]:
print(file_dir, convert_type)

In [ ]:
## Output format: date, HrMn, dir, speed, speed_max

if 'df' not in globals():
    df = pd.read_csv(save_file_dir + '/minute_avg.csv', header=0, skipinitialspace=True, dtype={'HrMn': object})

df['date']=pd.to_numeric(df['date'], errors='coerce')
df['speed']=pd.to_numeric(df['speed'], errors='coerce')
df['dir']=pd.to_numeric(df['dir'], errors='coerce')
df = df.dropna()
df=df[['date','HrMn','dir','speed']]
df

In [ ]:
df['Hr']=df['HrMn'].apply(lambda x: int(str(x)[:-2]))
df['x'] = df['speed'] * cos(df['dir'] * pi / 180.0)
df['y'] = df['speed'] * sin(df['dir'] * pi / 180.0)

In [ ]:
if convert_type != '10min_avg':
    # 1. Hourly avg
    ## This would make all 0 speed in to 0 speed, 0 dir, need more elaborate
    temp_df = df.groupby(['date', 'Hr']).agg({'x' : np.mean,'y': np.mean}).reset_index()
    temp_df['HrMn']=temp_df['Hr'].apply(lambda x: "%02d00"%x)
else:
    # 2. 10 min average
    df['time']=pd.to_datetime(df["date"].astype(str).map(str) + df["HrMn"], format='%Y%m%d%H%M')
    temp_df = df.resample(rule='10Min', on='time').mean()
    temp_df['HrMn']=temp_df.index.strftime('%H%M')
    temp_df['date']=temp_df.index.strftime('%Y%m%d').astype(int)
    temp_df = temp_df.reset_index().drop(['time'], 1)

# Regain speed, dir
temp_df['speed']=np.sqrt(temp_df.x**2 + temp_df.y**2)
temp_df['dir']=np.degrees(np.arctan2(temp_df.y, temp_df.x))%360
temp_df.drop(['Hr', 'x','y'], 1, inplace=True)

In [ ]:
df.describe()

In [ ]:
temp_df.describe()

### Time Comparison

In [ ]:
bins=arange(0,df.speed.max())
df['speed'].hist(bins=bins, normed=True,alpha=0.5,label='min')
temp_df['speed'].hist(bins=bins, normed=True,alpha=0.5,label='hour')
plt_configure(legend=True, figsize=(4,4))

In [ ]:
# 高频是因为断缺，当时间断只有1个数据, 所以成了整数

df['speed'].hist(bins=arange(0,df.speed.max()), normed=True,alpha=0.5,label='min')
temp_df['speed'].hist(bins=arange(0, temp_df.speed.max(), 0.1), normed=True,alpha=0.5,label='hour')
plt_configure(legend=True, figsize=(4,4))

In [ ]:
# df[(df['time'] > '2016-12-06 00:00:00') & (df['time'] < '2016-12-06 17:00:00')]

In [ ]:
temp_df.query('speed == 1')

In [ ]:
# Check for existance of 0 speed/dir after avg
for df_ in [df, temp_df]:
    plt.figure()
    df_.query('speed == 0')['date'].apply(lambda x: str(x)[0:6]).value_counts().sort_index().plot(kind='bar', figsize=(20,4))

In [ ]:
bins=arange(0,362)
df['dir'].hist(bins=bins, normed=True,alpha=0.5,label='min')
temp_df['dir'].hist(bins=bins, normed=True,alpha=0.5,label='hour')
plt_configure(legend=True, figsize=(20,4))

In [ ]:
temp_df.ix[(temp_df['dir'] == 0) & (temp_df['speed']==0), 'dir'] =np.nan
temp_df['dir'].interpolate(inplace=True)

bins=arange(0,362)
df['dir'].hist(bins=bins, normed=True,alpha=0.5,label='min')
temp_df['dir'].hist(bins=bins, normed=True,alpha=0.5,label='hour')
plt_configure(legend=True, figsize=(20,4))

In [ ]:
bins=arange(0,370,5)
df['dir'].hist(bins=bins, normed=True,alpha=0.5,label='min')
temp_df['dir'].hist(bins=bins, normed=True,alpha=0.5,label='hour')
plt_configure(legend=True, figsize=(20,4))

### Resample Comparison

In [ ]:
bins=arange(0,362)
for sample_size in [50000, 300000]:
    plt.figure()
    df['dir'].hist(bins=bins, normed=True,alpha=0.5,label='min')
    df.sample(n=sample_size, replace=True)['dir'].hist(bins=bins, normed=True,alpha=0.5,label='min_resampled')
    plt_configure(legend=True, figsize=(20,4))

### Direction Comparison

In [ ]:
incre = 10
max_speed = temp_df.speed.max()

for angle in arange(0, 360, incre):
    start_angle, end_angle = angle-incre/2, angle+incre/2
    sub_df, _ = select_df_by_angle(df, start_angle, end_angle)
    sub_df_hourly, _ = select_df_by_angle(temp_df, start_angle, end_angle)   

    fig = plt.figure()
    bins = arange(0, max_speed)
    sub_df['speed'].hist(bins=bins, alpha=0.5, label='min', normed=True)
    sub_df_hourly['speed'].hist(bins=bins, alpha=0.5, label='hour', normed=True)
    plt.gca().set_xlim([0, max_speed])
    plt_configure(figsize=(3,1.5), legend=True, title='%s (%s - %s), %s/%s' %(angle, start_angle, end_angle, len(sub_df),len(sub_df_hourly)))
align_figures()

In [ ]:
check_time_shift(df)
check_time_shift(temp_df)

In [ ]:
import time
current_file = 'file_format.ipynb'
output_file = 'D:/output_HTML/{}_stats_{}.html'.format(file_dir, convert_type) 
save_notebook()
output_HTML(current_file, output_file)

In [ ]:
temp_df.to_csv('{}/{}.csv'.format(save_file_dir, convert_type), index=False, float_format='%.2f')

In [ ]:
sss

# US NDBC

## Formatting Files

In [ ]:
from io import StringIO

station_id = '44013'
# '46086', '42057', '46014', 'cdrf1', '46081', '44013'

file_path = 'D:/NDBC/{}'.format(station_id)
fout=StringIO()
fout.write('YY MM DD hh mm dir speed GDR GST GTIME\n')
for time in arange(2000, 2017):
    try:
        file_name = "{}/{}.txt".format(file_path, time)
        for line in open(file_name):
            if 'MM DD' in line or 'mo dy' in line:
                pass
            else:
                fout.write(line)    
    except: 
        print('No data available at {}'.format(time))
        pass
all_data_file = fout.getvalue()
fout.close()

In [ ]:
df = pd.read_csv(StringIO(all_data_file), skipinitialspace=True, error_bad_lines=False, sep=' ', 
                 dtype={'YY': object, 'MM': object, 'DD': object, 'hh': object, 'mm': object})
df

In [ ]:
df['date']=df['YY']+df['MM']+df['DD']
df['HrMn']=df['hh']+df['mm']
save_file = "{}/10_min.csv".format(file_path)
df[['date','HrMn','dir','speed']].to_csv(save_file, index=False, float_format='%.2f')

In [ ]:
sss

## Download Files

In [ ]:
import os
import urllib.request 

for station_id in [ '44013']:
#     '46086', '42057', '46014', 'cdrf1', '46081',
    print("http://www.ndbc.noaa.gov/station_history.php?station={}".format(station_id))
    file_path = 'D:/NDBC/{}'.format(station_id)
    if not os.path.exists(file_path):
        os.makedirs(file_path)
    for time in arange(1990, 2017):
        try:
            url = "http://www.ndbc.noaa.gov/view_text_file.php?filename={}c{}.txt.gz&dir=data/historical/cwind/".format(station_id,time)
            file_name = "{}/{}.txt".format(file_path, time)
            urllib.request.urlretrieve(url, file_name)
        except: 
            print('No data available at {}'.format(time))
            pass

In [ ]:
sss

# ECMWF Dataset

In [48]:
file_path='D:/data/10_metre_U_wind_component_surface.txt'
save_file = 'D:/data/10_U.csv'
df = pd.read_csv(file_path, sep='\t')

In [49]:
# query_string = 'lat > 47.1 & lat < 48 & lon > 257.1 & lon < 258' 
# query_string = 'lat > 48.1 & lat < 49 & lon > 261.1 & lon < 262' 
# query_string = 'lat >= 48 & lat < 49 & lon > 256.1 & lon <= 257' 
query_string = 'lat >= 28 & lat < 29 & lon > 343 & lon <= 344' 
# query_string = 'lat >= 20 & lat < 21 & lon >=120& lon < 121' 

u_df = df.query(query_string)
u_df

            time        lat         lon  10_metre_U_wind_component_surface
4            0.0  28.500002  343.500031                          -5.231445
13           6.0  28.500002  343.500031                          -5.922807
22          12.0  28.500002  343.500031                          -6.381813
31          18.0  28.500002  343.500031                          -6.037314
40          24.0  28.500002  343.500031                          -6.353733
49          30.0  28.500002  343.500031                          -6.052203
58          36.0  28.500002  343.500031                          -6.901025
67          42.0  28.500002  343.500031                          -5.636451
76          48.0  28.500002  343.500031                          -5.057552
85          54.0  28.500002  343.500031                          -3.492582
94          60.0  28.500002  343.500031                          -3.322583
103         66.0  28.500002  343.500031                           0.891212
112         72.0  28.500002  343.500031                           0.778587
121         78.0  28.500002  343.500031                           2.665834
130         84.0  28.500002  343.500031                           4.254202
139         90.0  28.500002  343.500031                           4.792534
148         96.0  28.500002  343.500031                           2.969463
157        102.0  28.500002  343.500031                           6.941629
166        108.0  28.500002  343.500031                           3.196617
175        114.0  28.500002  343.500031                           3.420317
184        120.0  28.500002  343.500031                           1.385038
193        126.0  28.500002  343.500031                           0.269013
202        132.0  28.500002  343.500031                           3.374783
211        138.0  28.500002  343.500031                           2.675817
220        144.0  28.500002  343.500031                           2.313340
229        150.0  28.500002  343.500031                           2.729412
238        156.0  28.500002  343.500031                           0.510191
247        162.0  28.500002  343.500031                           1.935206
256        168.0  28.500002  343.500031                           2.524592
265        174.0  28.500002  343.500031                           3.461662
...          ...        ...         ...                                ...
504850  336564.0  28.500002  343.500031                          -0.293485
504859  336570.0  28.500002  343.500031                          -0.191521
504868  336576.0  28.500002  343.500031                          -1.319293
504877  336582.0  28.500002  343.500031                          -0.057465
504886  336588.0  28.500002  343.500031                          -1.582667
504895  336594.0  28.500002  343.500031                           0.132629
504904  336600.0  28.500002  343.500031                          -0.388583
504913  336606.0  28.500002  343.500031                          -0.806192
504922  336612.0  28.500002  343.500031                          -0.276238
504931  336618.0  28.500002  343.500031                           2.462839
504940  336624.0  28.500002  343.500031                           0.511617
504949  336630.0  28.500002  343.500031                          -0.384665
504958  336636.0  28.500002  343.500031                           0.323439
504967  336642.0  28.500002  343.500031                           1.646292
504976  336648.0  28.500002  343.500031                           1.363329
504985  336654.0  28.500002  343.500031                           0.236013
504994  336660.0  28.500002  343.500031                           0.764635
505003  336666.0  28.500002  343.500031                           0.736057
505012  336672.0  28.500002  343.500031                          -1.033888
505021  336678.0  28.500002  343.500031                          -2.306642
505030  336684.0  28.500002  343.500031                          -2.337402
505039  336690.0  28.500002  343.500031                          -2.744025
505048  336696.0  28.500002  343.500031                          -3.718991
505057  336702.0  28.500002  343.500031                          -3.276383
505066  336708.0  28.500002  343.500031                          -4.780700
505075  336714.0  28.500002  343.500031                          -2.748754
505084  336720.0  28.500002  343.500031                          -2.289353
505093  336726.0  28.500002  343.500031                          -2.668763
505102  336732.0  28.500002  343.500031                          -3.550672
505111  336738.0  28.500002  343.500031                          -2.602173

[56124 rows x 4 columns]

In [50]:
# temp_df.to_csv(save_file, index=False)

In [51]:
file_path='D:/data/10_metre_V_wind_component_surface.txt'
save_file = 'D:/data/10_V.csv'
mege_file = 'D:/data/dat.csv'
df = pd.read_csv(file_path, sep='\t')
v_df = df.query(query_string)
# temp_df.to_csv(save_file, index=False)

In [52]:
df = pd.merge(u_df, v_df, on='time')[['time', 'lat_x', 'lon_x', '10_metre_U_wind_component_surface', '10_metre_V_wind_component_surface']]
df.rename(columns={'10_metre_U_wind_component_surface': 'U', '10_metre_V_wind_component_surface': 'V',
                  'lat_x': 'lat', 'lon_x': 'lat'}, inplace=True)
df

           time        lat         lat         U          V
0           0.0  28.500002  343.500031 -5.231445  -2.663813
1           6.0  28.500002  343.500031 -5.922807  -1.655755
2          12.0  28.500002  343.500031 -6.381813  -2.483876
3          18.0  28.500002  343.500031 -6.037314  -3.596310
4          24.0  28.500002  343.500031 -6.353733  -3.792485
5          30.0  28.500002  343.500031 -6.052203  -2.791823
6          36.0  28.500002  343.500031 -6.901025  -3.032837
7          42.0  28.500002  343.500031 -5.636451  -1.976508
8          48.0  28.500002  343.500031 -5.057552  -3.463983
9          54.0  28.500002  343.500031 -3.492582  -1.881890
10         60.0  28.500002  343.500031 -3.322583  -1.968909
11         66.0  28.500002  343.500031  0.891212  -1.114145
12         72.0  28.500002  343.500031  0.778587  -3.011159
13         78.0  28.500002  343.500031  2.665834  -3.382423
14         84.0  28.500002  343.500031  4.254202  -2.323132
15         90.0  28.500002  343.500031  4.792534  -3.681812
16         96.0  28.500002  343.500031  2.969463  -5.167264
17        102.0  28.500002  343.500031  6.941629  -4.363430
18        108.0  28.500002  343.500031  3.196617  -5.330296
19        114.0  28.500002  343.500031  3.420317  -6.014442
20        120.0  28.500002  343.500031  1.385038  -8.656755
21        126.0  28.500002  343.500031  0.269013  -8.639600
22        132.0  28.500002  343.500031  3.374783  -9.874616
23        138.0  28.500002  343.500031  2.675817 -16.168182
24        144.0  28.500002  343.500031  2.313340 -12.253486
25        150.0  28.500002  343.500031  2.729412  -9.978812
26        156.0  28.500002  343.500031  0.510191  -8.931007
27        162.0  28.500002  343.500031  1.935206  -5.590967
28        168.0  28.500002  343.500031  2.524592  -7.185598
29        174.0  28.500002  343.500031  3.461662  -6.677769
...         ...        ...         ...       ...        ...
56094  336564.0  28.500002  343.500031 -0.293485  -5.567028
56095  336570.0  28.500002  343.500031 -0.191521  -7.288652
56096  336576.0  28.500002  343.500031 -1.319293  -6.442437
56097  336582.0  28.500002  343.500031 -0.057465  -6.810651
56098  336588.0  28.500002  343.500031 -1.582667  -5.686727
56099  336594.0  28.500002  343.500031  0.132629  -5.815918
56100  336600.0  28.500002  343.500031 -0.388583  -6.036304
56101  336606.0  28.500002  343.500031 -0.806192  -3.687432
56102  336612.0  28.500002  343.500031 -0.276238  -1.022643
56103  336618.0  28.500002  343.500031  2.462839  -2.561566
56104  336624.0  28.500002  343.500031  0.511617  -3.850748
56105  336630.0  28.500002  343.500031 -0.384665  -3.051290
56106  336636.0  28.500002  343.500031  0.323439  -1.182923
56107  336642.0  28.500002  343.500031  1.646292  -2.268889
56108  336648.0  28.500002  343.500031  1.363329  -3.554867
56109  336654.0  28.500002  343.500031  0.236013  -2.148497
56110  336660.0  28.500002  343.500031  0.764635  -2.907668
56111  336666.0  28.500002  343.500031  0.736057  -3.665262
56112  336672.0  28.500002  343.500031 -1.033888  -4.826524
56113  336678.0  28.500002  343.500031 -2.306642  -5.473092
56114  336684.0  28.500002  343.500031 -2.337402  -6.167071
56115  336690.0  28.500002  343.500031 -2.744025  -7.370038
56116  336696.0  28.500002  343.500031 -3.718991  -7.622212
56117  336702.0  28.500002  343.500031 -3.276383  -7.806337
56118  336708.0  28.500002  343.500031 -4.780700  -7.443273
56119  336714.0  28.500002  343.500031 -2.748754  -8.022264
56120  336720.0  28.500002  343.500031 -2.289353  -8.457023
56121  336726.0  28.500002  343.500031 -2.668763  -8.466049
56122  336732.0  28.500002  343.500031 -3.550672  -7.349215
56123  336738.0  28.500002  343.500031 -2.602173  -8.339672

[56124 rows x 5 columns]

In [53]:
df.to_csv(mege_file, index=False)

In [ ]:
sss

In [ ]:
# file_path='47N123W.csv'
# file_path='8N293E.csv'
# file_path='./data/ECMWF/chile/52S75W/dat.csv'
# file_path='65N17W.csv'
# file_path='./data/ECMWF/sudan/18N32E/dat.csv'
file_path='./data/ecmwf/china/24N121E/dat.csv'
# file_path='37S142E.csv'

df = pd.read_csv(file_path, header=0, skipinitialspace=True)
df.rename(columns={'U':'x','V':'y'}, inplace=True)
df['speed']=np.sqrt(df.x**2+df.y**2)
df['dir']=np.degrees(np.arctan2(df.y, df.x))%360
df['time']=pd.to_datetime('1979-01-01T00:00:00Z')+pd.to_timedelta(df['time'], unit='h')
df['date']=df['time'].dt.strftime('%Y%m%d')
df['HrMn']=df['time'].dt.strftime('%H00')
df.set_index(['time'], inplace=True)

df

In [ ]:
sub_df =df['2011':'2015']
plot(sub_df.x, sub_df.y, '.', alpha=0.5)

plt.figure()
bins=arange(0,361)
df['dir'].hist(bins=bins)

In [ ]:
np.degrees(np.arctan2(-3, 5))%360

In [ ]:
df.x = -df.x
df.y = -df.y
df['dir']=np.degrees(np.arctan2(df.y, df.x))%360

In [ ]:
sub_df =df['2011':'2015']
df.head()

In [ ]:
plot(sub_df.x, sub_df.y, '.', alpha=0.5)

In [ ]:
bins=arange(0,df.speed.max(),0.5)
df['speed'].hist(bins=bins)

plt.figure()
bins=arange(0,361)
df['dir'].hist(bins=bins)

In [ ]:
df['x'] = df['speed'] * cos(df['dir'] * pi / 180.0)
df['y'] = df['speed'] * sin(df['dir'] * pi / 180.0)

In [ ]:
sub_df =df['2011':'2015']
plot(sub_df.x, sub_df.y, '.', alpha=0.5)

In [ ]:
sss

# 2. NDAWN Dataset

In [ ]:
# file_dir = 'D:/NDAWN/fargo/'
# file_dir = 'D:/NDAWN/grand_forks/'
# file_dir = 'D:/NDAWN/williston/'
# file_dir = 'D:/NDAWN/jamestown/'
# file_dir = 'D:/NDAWN/minot/'
file_dir = './data/NDAWN/dickinson/'

file_path = file_dir+'table.csv'
save_file_path  = file_dir+'hr_avg.csv'
df = pd.read_csv(file_path, skipinitialspace=True, dtype={'Year':'object', 'Month':'object', 
                                                          'Day':'object'})
df

In [ ]:
df.describe()

In [ ]:
## Output format: date, HrMn, dir, speed, speed_max
df['HrMn']=df['Hour'].apply(lambda x: "%04d"%x ) 
df['date']=df['Year']+df['Month']+df['Day']
df = df[['date','HrMn','Avg Wind Speed', 'Max Wind Speed', 'Avg Wind Dir', 'Avg Wind Dir SD']]
df.rename(columns={'Avg Wind Speed': 'speed', 'Max Wind Speed': 'speed_max', 
                   'Avg Wind Dir': 'dir', 'Avg Wind Dir SD': 'dir_std'}, inplace=True)

In [ ]:
df

In [ ]:
## too slow, need optimization
import datetime as dt

def my_to_datetime(date_str):
    if date_str[8:10] != '24':
        return pd.to_datetime(date_str, format='%Y%m%d%H%M')

    date_str = date_str[0:8] + '00' + date_str[10:]
    return pd.to_datetime(date_str, format='%Y%m%d%H%M') + \
           dt.timedelta(days=1)
   
df['time']=df["date"].astype(str).map(str)+df["HrMn"]
df['time']=df['time'].apply(my_to_datetime)
df['date']=df['time'].apply(lambda x: x.strftime('%Y%m%d'))
df['HrMn']=df['time'].apply(lambda x: x.strftime('%H%M'))

In [ ]:
df.speed.value_counts().sort_index()

In [ ]:
bins=arange(0,df['speed'].max())
df['speed'].hist(bins=bins, normed=True,alpha=0.5,label='min')
plt_configure(legend=True)

plt.figure()
bins=arange(0,362)
df['dir'].hist(bins=bins, normed=True,alpha=0.5,label='min')
plt_configure(legend=True, figsize=(20,4))

In [ ]:
df.to_csv(save_file_path, index=False, float_format='%.2f')

In [ ]:
sss

# 3. Read from Chinese Data sets

In [ ]:
import csv

ipath= "./data/NCDC/cn/上海/上海/dat.txt"
uipath = unicode(ipath , "utf8")

with open(uipath) as fin, open('./data/NCDC/test.txt', 'w') as fout:
    o=csv.writer(fout)
    for line in fin:
        o.writerow(line.split())